<div class="clearfix" id="columns-wrap">

  {% assign full_width = true %}

  {% if settings.show_product_list or settings.show_collection_list or settings.show_welcome_text %}
  <div id="products-column"{% if full_width %} class="full-width"{% endif %}>

    {% if settings.show_product_list and settings.product_list_collection != '' and collections[settings.product_list_collection].handle == settings.product_list_collection %}


    <navivation id="main-nav" class="preload">
            <div id="logo"></div>
            <ul id="nav-items">
                <li><a href="/products/gifchop">Make Your Own</a></li>
                <li><a href="/collections/artists">Art Prints</a></li>
                <li><a href="/about-us">About Gifpop</a></li>
                <li><a href="http://blog.gifpop.io">Gifpop Blog</a></li>
            </ul>
        </navivation>

        <div id="container" class="preload">

                <!-- <div id="nav-clear"></div> -->
                <div id="home-intro" class="home-container resize-height" data-height="125">
                    <div class="sprite-bg" data-frames="10" data-speed="4">
                        <img src="" data-echo="{{ '01.jpg' | asset_url }}" />
                    </div>
                    <div class="bg-vignette bg-vignette-dark"></div>
                    <!-- <div id="nav-fade"></div> -->
                    <div class="content vertical-center">
                        <div class="wrap">
                            <h2>Turn your GIFs into IRL prints</h2>
                            <p>Through the magic of lenticular printing, Gifpop can turn all of your wildest GIFs in to real printed animated pieces.</p>
                            <div class="cta">
                                <a class="link-button scroll-button skew" href="#home-browse"><img src="{{ 'down-arrow.svg' | asset_url }}" width="25px" height="25px" /></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="home-browse" class="home-container resize-height" data-height="100">
                    <div class="sprite-bg" data-frames="16" data-speed="1">
                        <img src="" data-echo="{{ '02-browse.jpg' | asset_url }}" />
                    </div>
                    <div class="bg-vignette bg-vignette-dark"></div>
                     <div class="content vertical-center">
                        <div class="wrap">
                            <h2>Use your favorite GIF</h2>
                            <p>GIFs are everywhere, you may have made some of your own. No matter the GIF we can Gifpop it for you.</p>
                            <div class="cta">
                                <a class="link-button scroll-button skew" href="/products/gifchop">Make One</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="home-giffy" class="home-container resize-height" data-height="100">
                    <div class="sprite-bg" data-frames="7" data-speed="2">
                        <img src="" data-echo="{{ '04-gifpop.png' | asset_url }}" />
                    </div>
                    <div class="bg-vignette bg-vignette-dark"></div>
                     <div class="content vertical-center">
                        <div class="wrap">
                            <h2>Time for Magic</h2>
                            <p>We take your GIFs and do some magic to turn them into 10 frame lenticular prints that come to life when you move them</p>
                            <div class="cta">
                                <a class="link-button scroll-button skew" href="/how-it-works">How it Works</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="home-example" class="home-container resize-height" data-height="100">
                    <div class="sprite-bg" data-frames="16" data-speed="2">
                        <img src="" data-echo="{{ '03-example.jpg' | asset_url }}" />
                    </div>
                    <div class="bg-vignette bg-vignette-dark"></div>
                     <div class="content vertical-center">
                        <div class="wrap">
                            <h2>Here's what you get</h2>
                            <p>A beautiful print that captures the movement of your GIF, in your hands. Also check out our limited artists prints.</p>
                            <div class="cta">
                                <a class="link-button scroll-button skew" href="/collections/artists">Artists Prints</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="home-footer" class="home-container resize-height" data-height="100">
                    <div class="sprite-bg" data-frames="10" data-speed="8">
                        <img src="" data-echo="{{ '05-footer.png' | asset_url }}" />
                    </div>
                    <div class="bg-vignette bg-vignette-very-dark"></div>
                     <div class="content">
                        <div class="wrap">

                            <div class="artist-gifs footer-summary">
                                <h3>Check out our Artists Prints</h3>
                                    <img src="" data-echo="{{ '89a.gif' | asset_url }}" width="250px" height="250px" />
                                    <img src="" data-echo="{{ 'remastered.gif' | asset_url }}" width="250px" height="250px" />
                                    <img src="" data-echo="{{ 'pixelfucks.gif' | asset_url }}" width="250px" height="250px" />
                                <div class="cta">
                                    <a class="link-button skew" href="/collections/artists">See More</a>
                                </div>
                            </div>

                            <div class="footer-summary">
                                <h3>Gifpops are super easy to make</h3>
                                <ul class="make-options">
                                    <li>
                                        <img src="" data-echo="{{ 'drag-drop.png' | asset_url }}" width="250px" height="200px" />
                                        <h4>Drag &amp; Drop</h4>
                                        <h5>your GIF file here</h5>
                                    </li>
                                    <li>
                                        <img src="" data-echo="{{ 'upload.png' | asset_url }}" width="250px" height="200px" />
                                        <h4>Upload</h4>
                                        <h5>a GIF file</h5>
                                    </li>
                                    <li>
                                        <img src="" data-echo="{{ 'flip-flop.png' | asset_url }}" width="250px" height="200px" />
                                        <h4>Flip-Flop</h4>
                                        <h5>Between two images</h5>
                                    </li>
                                </ul>

                                <div class="url-method">
                                    <input type="text" placeholder="http://imgur.com/awesome.gif" />
                                    <h4>Enter a URL</h4>
                                    <h5>Vine and Instagram Videos work too!</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

        </div>


          <!-- <h2 style="margin: 20px 0 50px;
-webkit-font-smoothing: antialiased;
text-align: center;
color: #000;
text-transform: uppercase;
font-size: 24px;
line-height: 33px;">Gifpop is a tool to make custom cards from animated gifs, using the magic of lenticular printing.</h2>

          <a class="index-button" href="/products/gifchop">
            <div class="gif-image">
              <img src="{{ 'gifpop_index_1.gif' | asset_url }}" class="static">
              <img src="{{ 'gifpop_index.gif' | asset_url }}" class="animated">
            </div>
            <div class="button">
              <h2>Make Your Own</h2>
              <p>Upload your own gifs to be printed</p>
            </div>
          </a>
          <a class="index-button" href="/collections/artists">
            <div class="gif-image">
              <img src="http://cdn.gifpop.io/static/images/sample_gifs/dvdp_8x8_442_1.jpg" class="static">
              <img src="http://cdn.gifpop.io/static/images/sample_gifs/dvdp_8x8_442.gif" class="animated">
            </div>
            <div class="button">
              <h2>Support Artists</h2>
              <p>Because your life needs more gif art</p>
            </div>
          </a>

          <div class="index-section">
            <img src="http://cdn.shopify.com/s/files/1/0172/2296/files/lenticular_explanation_full.gif?3945" class="index-left">
            <div class="index-right third">
              <h2>lenticular magic</h2>
              <p><b>We are able to print up to ten frames of animation, thanks to the magic of lenticular printing!</b> Each lenticular sheet is faceted which allows you to see different slices of an image at different angles. The sheet and the print are aligned so that each tiny slice of a frame matches with a lens in the sheet, and when you move the sheet, the animation plays!</p>
            </div>
          </div>

          <div class="index-section">
            <img src="http://cdn.gifpop.io/static/images/diagrams/sizes_icon.jpg" class="index-right">
            <div class="index-left third">
              <h2>sizes and pricing</h2>
              <p><b>We offer five different sizes of Gifpops, starting at only $12 for your own custom card!</b> If you're resizing your own work for Gifpop, we suggest the above resolutions for optimal printing quality.</p>
            </div>
          </div>

          <div class="index-section">
            <a class="gif-image index-left" href="http://gifpop.io/products/mr-div-retro-sphere">
              <img src="http://cdn.gifpop.io/static/images/sample_gifs/pixelfucks_static.jpg" class="static">
              <img src="http://cdn.gifpop.io/static/images/sample_gifs/pixelfucks_large_290.gif" class="animated">
            </a>
            <a class="gif-image index-left" style="margin:-1px 0 0 -3px;" href="http://gifpop.io/products/mat-lucas-gif">
              <img src="http://cdn.gifpop.io/static/images/sample_gifs/89a_static.jpg" class="static">
              <img src="http://cdn.gifpop.io/static/images/sample_gifs/89a_large_290.gif" class="animated" >
            </a>
            <div class="index-right third">
              <h2>supporting artists</h2>
              <p><b>Each artist on Gifpop receives 80% of the profits we make on every art print sold.</b> We've worked with all the artists to pick gifs that will look great, and the artists themselves have worked hard to rerender, add detail, recolor, and adjust their work to make these prints truly unique.</p>
            </div>
          </div>
          <div class="index-section" style="padding-bottom: 300px;">
            {% assign product = collections['gift-cards'].products.first %}

            <div class="index-right">
            {% for variant in product.variants %}
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ variant.id }}" />
              <input class="button gift-card" type="submit" value="{{ variant.title }}" />
            </form>
            {% endfor %}
            </div>

            <div class="index-left third">
              <h2>GIF-t cards</h2>
              <p><b>An easier way to give the gift of gif!</b><br> Our gift cards are available in $10, $20, and $50 denominations. Just click on the amount you'd like to purchase, and we will email you a printable gift card within 24 hours.</p>
            </div>
          </div>
          </div> -->


     {% endif %}

     {% if settings.show_collection_list and settings.collection_list_ll and linklists[settings.collection_list_ll].links.size > 0 %}
     <div id="products-column-header" class="clearfix">
       <h2>{{ settings.collection_list_title }}</h2>
         <a class="accent-text" href="{{ shop.url }}/collections">View all collections →</a>
     </div><!-- #products-column-header -->

     {% assign count = 0 %}

     <ul id="collection-list" class="clearfix">
     {% for link in linklists[settings.collection_list_ll].links %}
       {% if link.type == 'collection_link' %}
         {% assign collection = link.object %}
         {% include 'snippet-collection-item' with 'four' %}
         {% assign count = count | plus: 1 %}
       {% endif %}
     {% endfor %}
     </ul>

     {% if count == 0 %}
     <div class="rte">
        <p>There are no collections in your <strong>{{ linklists[settings.collection_list_ll].title }}</strong> link list.</p>
        <p>Either add collections to your <strong>{{ linklists[settings.collection_list_ll].title }}</strong> link list by browsing to your <a href="/admin/links">Navigation page</a>, or choose a different link list in your <a href="/admin/themes/current/settings">theme settings</a> in the <strong>Home > Module: Collection List</strong> section.</p>
     </div>
     {% endif %}

    {% endif %}

    {% if settings.show_welcome_text %}
    <div id="welcome-text">
      <h2 class="smooth widget-title" id="fp-welcome-title">{{ pages[settings.welcome_text_page].title }}</h2>
      <div class="rte">
        {{ pages[settings.welcome_text_page].content }}
      </div>
    </div><!-- #welcome-text -->
    {% endif %}

  </div><!-- #products-column -->
  {% endif %}

</div><!-- #columns-wrap -->
<script>

/* Module: Browse */

jQuery('#fp_bb_category, #fp_bb_vendor').change(function(){
  if (jQuery(this).val().length > 0) {
    window.location = jQuery(this).val();
  }
});

</script>